body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}


h1 {

        text-align: center;
        border-collapse: collapse;
}

h2{
    background-color: #aaa;
    text-align: center;
    border-collapse: collapse;

}
/* nav{

    position: fixed;
    top: 0px;

} */

header {
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;


}

#menu {


    position: sticky;
    top: 0px;
    display: flex;
    gap: 0.700%;  
    background-color: #aaa;
}



a {
    flex: 1;
    background-color: ;
    text-decoration: none;
    border: 1px solid black;
    padding: 4px;
    text-align: center;


}

img {

    align-content: center;
}
/* 
.flex {

    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;   
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
     
} */


